Source: #PACKAGE#
Section: libdevel
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: https://nixys.ru

Package: #PACKAGE#
Architecture: amd64
Depends: ${misc:Depends}, libevent-nxs, libssl1.0.0, make, gcc, libmysqlclient-dev, libncurses5-dev, libxml2-dev, libjansson-dev, libssl-dev, libcurl4-openssl-dev, dh-make, lsb-release, rsync
Description: Nixys Framework Libraries
 Nixys Framework libraries, headers and config file for nxs-fw-ctl
